@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

:root {
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
}

.dropdown-menu {
    border: 0px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.border-gray {
    border: 2px solid var(--MediumGray);
}
.nav-link{
    color: var(--MediumGray);
   
}
.navbar-nav{
    --bs-nav-link-disabled-color: var(--MediumGray);
    --bs-nav-link-hover-color: var(--AlmostBlack);
}
.btnre {
    border: 2px solid var(--MediumGray);
    color: var(--MediumGray) !important;
    border-radius: 15px;
    
}
.btnre:hover {
    border: 2px solid var(--AlmostBlack) !important;
    color: var(--AlmostBlack) !important;
}

html{
    font-size: 18px;
}
body {
    font-family: 'Epilogue', sans-serif;
    max-width: 100%;
    font-weight: 500;
    background-color: var(--AlmostWhite);
}

.row>* {
    padding: 0px !important;
    margin: 0px !important;
}

.row {
    padding: 0px !important;
    margin: 0px !important;
}

.head-font {
    font-size: 5rem;
    font-weight: 700;
    line-height: 5rem;
    margin-top: 12vh;
}

.icon {
    width: 30px;
}

.p-get {
    padding-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-dark {
    color: var(--AlmostWhite);
    background-color: var(--AlmostBlack);
    width: 200px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 17vh;
}

.btn-dark:hover {
    border: 2px solid var(--AlmostBlack);
    color: var(--AlmostBlack) !important;
    background-color: var(--AlmostWhite) !important;
}

main {
    display: grid;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}
.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}
.mobile{
    display: none;
}
.pc{
    display: block;
}

@media (max-width: 1200px) {
    .p-get {
        padding-right: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .head-font{
        margin-top: 3rem;
        font-size: 2rem;
    }
}
@media (max-width: 750px) {
    .nav-link{
        font-size: 1rem;
    }
    .btnre {
        font-size: 1rem ;
    }
    .p-get{
        padding-right: 0px;
    }
    .head-font {
        font-size: 3rem;
        margin-top: 3rem;
    }
    .mobile{
        display: none;
    }
    .pc{
        display: block;
    }
}
@media (max-width: 570px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 0px;
    }

    .head-font {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .pc {
        display: none;
    }
    .mobile{
        display: block;
    }
    .p-get {
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .w80px {
        width: 80px;
    }

    .icon-end {
        margin-bottom: 100px;
    }

    .btn-dark {
        border-radius: 15px;
        margin-bottom: 50px;
    }

    .fr {
        margin-left: 85%;
    }

    .navbar-toggler {
        border: unset;
    }

    button {
        color: unset;
        background-color: unset;
        border-color: unset;
        border: unset;
    }
}

.fw700 {
    font-weight: 700;
}

nav .container {
    max-width: 1800px;
}

/* @media (min-width: 1400px){
    .container{
        max-width: 1800px ;
    }
    
} */

.offcanvas.offcanvas-end {
    width: 70vw;
}